*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}
.navbar{
    background-color:  #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazonlogo.png);
    background-size: cover;
    border: 1px solid transparent;
    margin-right: 13px;
}
.nav-logo:hover{
    border: 1px solid white;
}
.location{
    color: #cccccc;
    border: 1px solid transparent;
}
.locate{
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 15;
}
.first{
    margin-left: 15px;
}
.second{
    margin-left: 3px;
}
.location:hover{
    border: 1px solid white;
}
.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.navsearch:hover{
    border: 2px solid orange;
}
.select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #0f1111;
}
.EN{
    background-color: #0f1111;
    display: flex;
}
.mack{
    background-color: #0f1111;
    border: none;
    color: #ffffff;
    font-size: 13px;
}
/**box4**/
span{
    font-size: 12px;
}
.navsecond{
    font-size: 14px;
    font-weight: 700;
}
.signin:hover{
    border: 1px solid white;
}
.cart{
    display: flex;
    align-items: baseline;
}
.cart i{
    font-size: 30px;
}
.cart:hover{
    border: 1px solid white;
}
.panelooo{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
}
.paneltexts p{
    display: inline;
    margin-left: 14px;
}
.paneltexts{
    width: 70%;
    font-size: 0.85rem;
}
.deals{
    font-size: 0.92rem;
    font-weight: 700;
}
.herosection{
    background-image: url(hero.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.herotext{
    color: #0f1111;
    background-color: #f5f6f6;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 90%;
    margin: 30px;
}
.herotext a{
    color: #007185;
    text-decoration: none;
}
/**boxes**/
.box{
    height: 350px;
    width: 23%;
    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 5px;
}
.shopping{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffd621;
    flex-wrap: wrap;
}
.box1image{
    height: 300px;
    margin-top: 1rem;
    background-size: cover;
    margin-bottom: 1rem;
}
.box1content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box1content p{
    color: #007185;
}
.box1image{
    height: 270px;
    margin-top: 1rem;
    background-size: cover;
    margin-bottom: 1rem;
}
.box1content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box1content p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.footpanel1{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.85rem;
}
.footpanel2{
    background-color: #232f3e;
    color: #ffffff;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style-type: none;
    margin-top: 20px;
}
ul li{
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
}
.footpanel3{
    background-color: #232f3e;
    color: #ffffff;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazonlogo.png);
    background-size: cover;
    
}
.footpanel4{
    background-color: #232f3e;
    color: #dddddd;
    height: 80px;
}
.pages{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5px;
}